*, ::before, ::after{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.header{
    margin-bottom: 2em;
}

.container{
text-align: center;
}

.progress-container{
    /* background-color: aqua; */
    display: flex;
    width: 350px;
    max-width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.progress{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #01579b;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    
}

.progress25{
    width: 57.5px;
    transition: width 1s ease-out;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border: 2px solid #4fc3f7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.action{
    display: flex;

}

.action button{
    padding: 1em;
    margin: .5em;
    background-color: #4fc3f7;
    color: #fff;
}